*.csv
*.db
*.zip
*.html


project/data/stundenwerte_EB_02667_hist
project/data/stundenwerte_FF_02667_hist
project/data/stundenwerte_RR_02667_hist
project/data/stundenwerte_SD_02667_hist
project/data/stundenwerte_TU_02667_hist
exercises/airports.sqlite
exercises/cars.sqlite

data/data.sqlite
data/stundenwerte_EB_02667_hist
data/stundenwerte_FF_02667_hist
data/stundenwerte_RR_02667_hist
data/stundenwerte_SD_02667_hist
data/stundenwerte_TU_02667_hist
